.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__titulo,
.opcoes,
.container__filho{
    display: none;
}


.botao__menu:checked~.container__rotulo>.cabecalho__menu-hamburguer{
    background-image: url("../img/MenuAberto.svg");
    background: var(--gradiente);
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    
    .container__titulo{
        font-weight:400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        gap: 3em;
    }
    .opcoes__item{
        text-transform: uppercase;
    }
    
    .opcoes__link{
        font-family: var(--fonte-principal);
        text-decoration: none;
        color: var(--preto);
        font-size: 16px;
    }

    .container__imagem-transparente,
    .cabecalho__menu-hamburguer,
    .opcoes__botao{
        display: none;
    }
    
    .opcoes__botao:checked~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--gradiente);
        color: var(--branco);
    }

    .opcoes__item{
        padding: 1em 2em;
    }

 
}

@media screen and (min-width:1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .container__filho{
        color: var(--preto);
        display: block;
    }
    
    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__titulo{
        padding-right: 1em;
    }

    .lista-menu__item:hover{
        background: var(--gradiente);
    }

    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}